<label for="recipe-paired-left-folder">Left folder</label>
<input
  id="recipe-paired-left-folder"
  placeholder="no_support"
  data-recipe-config-key="left_folder"
  data-config-type="string"
  data-required="true"
  data-default-value="no_support"
/>

<label for="recipe-paired-right-folder">Right folder</label>
<input
  id="recipe-paired-right-folder"
  placeholder="with_support"
  data-recipe-config-key="right_folder"
  data-config-type="string"
  data-required="true"
  data-default-value="with_support"
/>

<label for="recipe-paired-strict">Strict mode</label>
<select id="recipe-paired-strict" data-recipe-config-key="strict" data-config-type="boolean">
  <option value="true">true</option>
  <option value="false">false</option>
</select>
